NODE_ENV=development

PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/elysia_app

JWT_ACCESS_SECRET=yoursecret
JWT_REFRESH_SECRET=yoursecretrefresh

ACCESS_TOKEN_EXPIRES_IN=15m
ACCESS_TOKEN_EXPIRES_IN=7d